/*TODO complete redesign everything*/


.job {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.job-title {
    display: flex;
}

.job-title .label {
    margin-left: 0;
    margin-right: 10px;
}

.job-post {
    flex-grow: 1;
    margin-right: 50px;
}

.edit-btn {
    line-height: 0;
    margin-left: 20px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.summary {
    text-align: justify;
}

.post-date {
    margin-top: 5px;
}

.controls {
    width: 110px;
    margin-left: 10px;
    margin-right: 5px;
    font-family: monospace;
}

.controls button {
    padding: 0;
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 120px;
}

