body {
    margin: 0;
    font-family: 'Roboto', Helvetica, 'Helvetica Neue', sans-serif, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0ece7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight {
    background-color: #e488f4;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
